.aboutUs{
    height: 100%;
    width: 100%;
}

.aboutUs-main-top{
margin-top: 25px;

}
.aboutUs-main-body{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: white;
}
.aboutUs-body{
    display: flex;
    justify-content: center;
}

.aboutUs-main-img{
    max-width: 100%;
    margin: auto;
    display: block;
    padding: 5px;
    border: 6px solid black;
}

.aboutUs-main-col{
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.socialIcons-footer-AboutUs{
    background-color: white;
    max-width: 30%;
    margin: 2rem auto;
    display: block;
}

@media (min-width: 1000px) {
    .aboutUs-main-img{
        margin-top: 20px;
        width: 55rem;
    }
}
@media (max-width: 820px) {
    .aboutUs-main-img{
        margin-top: 25px;
        width: 45rem;
    }
}
@media (max-width: 620px) {
    .aboutUs-main-img{
        margin-top: 25px;
        width: 45rem;
    }
}
@media (max-width: 420px) {
    .aboutUs-main-img{
        margin-top: 25px;
        width: 24rem;
    }
}
@media (max-width: 390px) {
    .aboutUs-main-img{
        margin-top: 25px;
        width: 23rem;
    }
}
@media (max-width: 330px) {
    .aboutUs-main-img{
        margin-top: 25px;
        width: 18rem;
    }
}

