.social-icons{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  }
 
  .fb{
    margin: 2%;
    color: black;
  }

  .fb:hover{
    color: #386ddd;
  }

  .git{
    margin: 2%;
    color: black;
  }

  .git:hover{
    color: #16fa01;
  }

  .tiktok{
    margin: 2%;
    color: black;
  }

  .tiktok:hover{
    color: #a3cbcb;
  }

  .insta{
    margin: 2%;
    color: black;
  }

  .insta:hover{
    color: #c1558b;
  }

  .linkedin{
    margin: 2%;
    color: black;
  }
  
  .linkedin:hover{
    color: #0e76a8;
  }

  .youtube{
    margin: 2%;
    color: black;
  }

  .youtube:hover{
    color: #e00d0d;
  }